[submodule "Desktop/DataStructuresProjects/Desktop/DataStructuresProjects/school"]
	path = Desktop/DataStructuresProjects/Desktop/DataStructuresProjects/school
	url = https://github.com/JenxJennx/school.git
